@model IEnumerable<WestSprings.Models.Directory>

@{
    ViewBag.Title = "Online Directory";
}
<h3 style="text-align: center; margin-bottom:5%;">West Springs Directory</h3>

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)

{

    <table class="col-md-4" id="indextable">
        <tr>
            <th id="tablelable">
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th id="tablelable2">
                @Html.DisplayNameFor(model => model.lastname)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td id="indexfirstname">
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td id="indexlastname">
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.memberid }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.memberid })
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.memberid })*@
                </td>
            </tr>
        }


    </table>
}
else
{
    <h3>You are not worthy!</h3>
}


<img id="minipic" src="~/Images/ws mini.jpg" />

<script>
    onLoad = document.getElementById('body').style.background = '#ffffff';
    onLoad = document.getElementById('tablelabel').style.color = 'black';
</script>

